<h3>Search Pokemon's by Name or ID</h3>
<div class="search-container">
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Enter ID or name to search..."
      (keyup)="searchTerm.next($event.target.value)"
    />
  </div>
</div>
<div class="filter-container">
  <div class="type-filter-container">
    <mat-label class="heading">Filter by Pokemon's Type :</mat-label>
    <mat-form-field class="form-field">
      <mat-select [(ngModel)]="selectedType">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="abilities-filter-container">
    <mat-label class="heading">Filter by Pokemon's Abilities :</mat-label>
    <mat-form-field class="form-field">
      <mat-select [(ngModel)]="selectedAbilities" multiple>
        <mat-select-trigger>
          {{ selectedAbilities ? selectedAbilities[0] : "" }}
          <span
            *ngIf="selectedAbilities?.length > 1"
            class="additional-selection"
          >
            (+{{ selectedAbilities.length - 1 }}
            {{ selectedAbilities?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let ability of abilities" [value]="ability">
          {{ ability | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<h1>Pokedex</h1>
<div class="spinner" *ngIf="!dataLoaded">
  <div class="spinner-ball">
    <div class="line"></div>
  </div>
  <h3>Loading...</h3>
</div>
<div class="pokemon-gallery" *ngIf="dataLoaded && searchedPokemons.length">
  <div
    class="detail-card"
    *ngFor="
      let item of searchedPokemons
        | abilitiesFilter: selectedAbilities
        | typesFilter: selectedType;
      trackBy: trackByFn
    "
  >
    <app-detail-card
      [image]="item.details?.sprites"
      [pokename]="item.name"
      [types]="item.details?.types"
      [stats]="item.details?.stats"
      [abilities]="item.details?.abilities"
      [id]="item.pokemonID"
    ></app-detail-card>
  </div>
</div>
<div class="pokemon-gallery" *ngIf="dataLoaded && !searchedPokemons.length">
  <div
    class="detail-card"
    *ngFor="
      let item of pokemons
        | abilitiesFilter: selectedAbilities
        | typesFilter: selectedType;
      trackBy: trackByFn
    "
  >
    <app-detail-card
      [image]="item.details?.sprites"
      [pokename]="item.name"
      [types]="item.details?.types"
      [stats]="item.details?.stats"
      [abilities]="item.details?.abilities"
      [id]="item.pokemonID"
    ></app-detail-card>
  </div>
</div>
<button
  *ngIf="
    fetch && !searchedPokemons.length && !selectedAbilities && !selectedType
  "
  class="view-more"
  (click)="fetchMorePokemons()"
>
  + View More
</button>
