<header>
  <nav>
    <div class="logo-container">
      <img src="../../../assets/images/logo.png" alt="pokemon-logo" />
    </div>
    <div class="nav-items-container">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/pokedex" routerLinkActive="active">Pokedex</a></li>
        <li>
          <a routerLink="/poke-events" routerLinkActive="active">Poke Events</a>
        </li>
        <li>
          <a routerLink="/games-and-apps" routerLinkActive="active"
            >Video Games & Apps</a
          >
        </li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
    </div>
  </nav>
</header>
