<div class="gapp-container">
  <div class="gapp-content">
    <div class="item-1">
      <img src="../../../assets/images/events-and-games/events1.png" alt="" />
    </div>
    <div class="item-2">
      <img src="../../../assets/images/events-and-games/events2.png" alt="" />
    </div>
    <div class="item-3">
      <img src="../../../assets/images/events-and-games/events3.png" alt="" />
    </div>
    <div class="item-4">
      <img src="../../../assets/images/events-and-games/events4.png" alt="" />
    </div>
    <div class="item-5">
      <img src="../../../assets/images/events-and-games/events5.png" alt="" />
    </div>
  </div>
</div>
