<div class="carousel-container">
  <div class="carousel-slides">
    <img src="../../../assets/images/carousel_img0.png" alt="" />
    <img src="../../../assets/images/carousel_img1.png" alt="" />
    <img src="../../../assets/images/carousel_img2.png" alt="" />
    <img src="../../../assets/images/carousel_img3.png" alt="" />
    <img src="../../../assets/images/carousel_img4.png" alt="" />
    <div class="arrows">
      <span><i class="fas fa-arrow-circle-left"></i></span>
      <span><i class="fas fa-arrow-circle-right"></i></span>
    </div>
  </div>
  <div class="slide-buttons">
    <span id="btn1"></span>
    <span id="btn2"></span>
    <span id="btn3"></span>
    <span id="btn4"></span>
    <span id="btn5"></span>
  </div>
</div>
